@media (min-width: 992px) and (max-width: 1240px) {
    .track {}

    .navigation {
        display: block;
        text-align: center;
    }

    .nav {
        justify-content: space-around;
        margin-right: 0;
        padding-top: 20px;
    }

    .info_block .fl,
    .info_block .fl_2 {
        flex-direction: column;
        align-items: center;
    }

    .info_block {
        flex-direction: column;
    }

    .info_block img {
        max-width: 550px;
    }

    .banner_2 .wrapper .info_block .fl_2 img {
        order: -1;
    }

    .banner_4 .wrapper .contact_block .contact_line_2 .contact_text_1,
    .banner_4 .wrapper .contact_block .contact_line_2 .contact_text_2 {}

    .contact_line_1,
    .contact_line_2 {
        flex-direction: column;
        align-items: center;
    }

    .contact_block {
        flex-direction: column;
    }

    .contact_block {
        flex-direction: column;
    }

    .banner_4 .wrapper .contact_block .contact_line_2 {
        text-align: center;
        padding-top: 60px;
    }
}

@media (max-width: 1150px) {
    .track p {
        top: 219px;
    }

    .track .order {
        padding-top: 400px;
    }


}

@media (max-width: 1040px) {

    .track p {
        top: 180px;
    }

    .track .order {

        padding-top: 326px;
    }

    .banner .wrapper .track .p {
        padding: 24px 35px 19px;
        font-size: 24px;

    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navigation {
        display: block;
        text-align: center;
    }

    .nav {
        justify-content: space-around;
        margin-right: 0;
        padding-top: 20px;
    }


    .info_block .fl,
    .info_block .fl_2 {
        flex-direction: column;
        align-items: center;
    }

    .info_block {
        flex-direction: column;
    }

    .banner_2 .wrapper .info_block .fl_2 img {
        order: -1;
    }

    .banner_4 .wrapper .contact_block .contact_line_2 .contact_text_1,
    .banner_4 .wrapper .contact_block .contact_line_2 .contact_text_2 {
        font-size: 49px;
    }

    .contact_line_1,
    .contact_line_2 {
        flex-direction: column;
        align-items: center;
    }

    .contact_block {
        flex-direction: column;
    }

    .contact_block {
        flex-direction: column;
    }

    .banner_4 .wrapper .contact_block .contact_line_2 {
        text-align: center;
        padding-top: 60px;
    }
}

@media (max-width: 850px) {
    .banner .wrapper .track .p {
        padding: 16px 32px 12px;
        font-size: 18px;

    }

    .track .order {
        padding-top: 270px;
    }

    .track p {
        top: 149px;
    }

    .banner_3 .wrappers .server_block .server_line_1 .server_text_1,
    .banner_3 .wrappers .server_block .server_line_2 .server_text_2,
    .banner_3 .wrappers .server_block .server_line_1 .server_text_3,
    .banner_3 .wrappers .server_block .server_line_2 .server_text_4 {
        font-size: 30px;
    }

    .footer_wrapper .left_a,
    .footer_wrapper .right_a {
        font-size: 18px;
    }

    .footer_wrapper .t {
        font-size: 23px;
    }
}

@media (max-width: 767px) {
    body {
        overflow-x: hidden
    }

    .navigation {
        display: block;
        text-align: center;
    }

    .nav {
        justify-content: space-around;
        margin-right: 0;
        padding-top: 20px;
    }

    .banner_2 .about_us .about {
        font-size: 24px;
    }

    .services .serv {
        font-size: 24px;
    }

    .contact .cont {
        font-size: 24px;
    }

    .footer_wrapper .left_a,
    .footer_wrapper .right_a {
        font-size: 14px;
    }

    .footer_wrapper .t {
        font-size: 21px;
    }

    .contact_line_1,
    .contact_line_2 {
        flex-direction: column;
        align-items: center;
    }

    .contact_block {
        flex-direction: column;
    }

    .contact_block {
        flex-direction: column;
    }

    .banner_4 .wrapper .contact_block .contact_line_2 {
        text-align: center;
        padding-top: 60px;
    }

    .info_block .fl,
    .info_block .fl_2 {
        flex-direction: column;
        align-items: center;
    }

    .info_block {
        flex-direction: column;
    }

    .info_block img {
        max-width: 500px;
    }

    .banner_2 .wrapper .info_block .fl_2 img {
        order: -1;
    }

    .banner_4 .wrapper .contact_block .contact_line_2 .contact_text_1,
    .banner_4 .wrapper .contact_block .contact_line_2 .contact_text_2 {
        font-size: 49px;
    }

    .banner_2 .wrapper .info_block .text_1,
    .banner_2 .wrapper .info_block .text_2 {
        font-size: 28px;
    }

    .banner_3 .wrappers .server_block .server_line_1 .server_text_1,
    .banner_3 .wrappers .server_block .server_line_1 .server_text_3,
    .banner_3 .wrappers .server_block .server_line_2 .server_text_2,
    .banner_3 .wrappers .server_block .server_line_2 .server_text_4 {

        font-size: 28px
    }

    .banner_3 .wrappers .server_block .server_line_1 .image_1,
    .banner_3 .wrappers .server_block .server_line_1 .image_3,
    .banner_3 .wrappers .server_block .server_line_2 .image_2,
    .banner_3 .wrappers .server_block .server_line_2 .image_4 {

        width: 100px;

    }
}

@media (max-width: 710px) {
    .banner .wrapper .track .p {
        padding: 16px 32px 12px;
        font-size: 15px;

    }

    .track .order {
        padding-top: 260px;
    }

    .footer_wrapper .left_a,
    .footer_wrapper .right_a {
        font-size: 12px;
    }

    .footer_wrapper .t {
        font-size: 19px;
    }

    .contact_line_1 {
        display: none;
    }
}

@media (max-width: 650px) {
    .track p {
        top: 129px;
    }

    .track .order {
        padding-top: 220px;
    }

    .header .wrapper .navigation .nav {
        font-size: 16px;
    }

    .contact_line_1,
    .contact_line_2 {
        flex-direction: column;
        align-items: center;
    }

    .contact_block {
        flex-direction: column;
    }

    .contact_block {
        flex-direction: column;
    }

    .banner_4 .wrapper .contact_block .contact_line_2 {
        text-align: center;
        padding-top: 0px;
    }
}

@media (max-width: 600px) {
    .navigation {
        display: block;
        text-align: center;
    }

    .nav {
        justify-content: space-around;
        margin-right: 0;
        padding-top: 20px;
    }

    .header .wrapper .navigation img {
        width: 70%;
    }

    .header .wrapper .navigation .nav {
        font-size: 13px;
    }

    .track p {
        top: 109px;
    }

    .track .order {
        padding-top: 200px;
    }

    .banner_2 .about_us .about {
        font-size: 22px;
    }

    .banner_2 .wrapper .info_block .text_1,
    .banner_2 .wrapper .info_block .text_2 {
        font-size: 22px;
    }

    .services .serv {
        font-size: 22px;
    }

    .contact .cont {
        font-size: 22px;
    }

    .banner_3 .wrappers .server_block .server_line_1 .server_text_1,
    .banner_3 .wrappers .server_block .server_line_1 .server_text_3,
    .banner_3 .wrappers .server_block .server_line_2 .server_text_2,
    .banner_3 .wrappers .server_block .server_line_2 .server_text_4 {

        font-size: 18px
    }

    .footer_wrapper .left_a,
    .footer_wrapper .right_a {
        padding-right: 0px;
        padding-left: 0px;
    }

    .footer_wrapper {
        justify-content: space-between
    }

    .footer_wrapper .t {
        font-size: 21px;
    }

    .banner_4 .wrapper .contact_block .contact_line_2 .contact_text_1,
    .banner_4 .wrapper .contact_block .contact_line_2 .contact_text_2 {
        font-size: 36px;
    }
}

@media (max-width: 480px) {

    .track p {
        top: 80px;
    }

    .track .order {

        padding-top: 158px;
    }

}

@media (max-width: 375px) {
    .nav li {
        padding-left: 6px;
    }

    .track p {
        top: 70px;
    }

    .track .order {

        padding-top: 128px;
    }

    .banner .wrapper .track .p {
        padding: 10px 22px 8px;
        font-size: 10px;

    }
}
